html, body { 
	margin: 0px; 
	padding: 5px; 
	border: 0px; 
	font-family: 'Roboto';
}
h1, h2, h3, h4, ul { 
	margin: 0; 
	padding: 0; 
	font-weight: 200; 
 }
.container {
	border: 1px solid black;
	border-radius: 3px;
	margin-bottom: 10px;
	overflow: auto;
	padding: 10px;
	height: auto;
}
#banner {
	clear: both;
	text-align: center;
	font-weight: 100;
}
#content {
	float: left;
	width: 83%;
	padding: 3px;
}
#sidebar {
	float: right;
	width: 15%;
	text-align: center;
}
#about{
	border-bottom: 1px solid black;
	padding-bottom: 6px;
}
#foto {
	width: 75px;
	opacity: 0.5;
	margin-bottom: 4px;
}
.button {
	border: 1px solid black;
	border-radius: 2px;
	padding-right: 2px;
	padding-left: 2px;
	display: inline;
	transition: 0.5s;
}
.button:hover {
	background: black;
	color: white;
}
#nav {
	padding-top: 3px;
}
ul {
	list-style-type: none;
	padding: 0;
}
.link {
	border-bottom: 1px solid black;
	display: inline-block;
	transition: 0.5s;
}
.link:hover {
	border-bottom-color: orange;
	letter-spacing: 2px;
}
h1 {
	font-size: 40px;
	letter-spacing: 8px;
}
h2 {
	font-size: 24px;
	font-weight: 300;
}
h3 {
	font-size: 18px;
	letter-spacing: 5px;
}
h4 {
	font-size: 16px;
}
p {
	font-size: 12px;
}
@media(min-width: 1000px) {
	#sidebar {
		width: 10%;
	}
	#content {
		width: 89%;
	}
}
