body { 
	font-family: 'Roboto', Arial;
	cursor: crosshair;
	font-weight: 300;
	text-align: left;
	max-width: 720px;
	margin: 20px auto;
	width: 90%;
}
article {
	margin-bottom: 15px;
}
h1 {
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 50px;
	letter-spacing: 5px;
	text-align: center;
}
h2 {
	font-size: 25px;
	letter-spacing: 5px;
	margin-bottom: 10px;
	margin-top: 10px;
	border-bottom: 1px solid black;
	border-top: 1px solid black;
	padding: 3px 0;
	text-align: center;
}
iframe {
	display: block;
	margin: 10px auto;
}
img {
	display: block;
	width: 100%;
	border: 1px solid black;
	border-radius: 3px;
	margin: 10px auto;
}
.small {
	width: 5o%;
}
.medium {
	width: 70%;
}
.large {
	width: 90%;
}
figcaption {
	text-align: center;
	font-weight: bold;
	line-height: 18px;
}
p {
	font-size: 12px;
	line-height: 18px;
	margin-bottom: 10px;
}
a {
	border-bottom: 1px solid orange;
	transition: 0.5s;
}
a:hover {
	border-bottom-color: rgba(0,0,0,0);
}
footer {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	padding: 2px 0;
	text-align: center;
	letter-spacing: 10px;
	font-size: 10px
}