html, body { height: 100%; width: 100%; font-family: 'Lato'; }

body { position: relative; margin: 0 auto; text-align: center; width: 90%; }


/*GENERAL*/
section { margin-bottom: 20px;}
h1 { font-size: 60px; letter-spacing: 7px; }
h2 { font-size: 40px; letter-spacing: 3px; border-top: 1px solid black; border-bottom: 1px solid black; margin-bottom: 20px; padding-bottom: 3px; }
h3 { font-size: 24px; margin-bottom: 5px; }
ul { text-align: left; }
a { border-bottom: 1px solid orange; transition: 0.5s; }
a:hover { border-bottom-color: rgba(255,255,255,0); }

/*BLOCKS*/
.block { overflow: hidden; padding: 10px; }
.block img { float: left; width: 100px; margin-right: 10px; }
.block article { text-align: left; }
.block h4 { font-size: 16px; margin-bottom: 5px; }
.block p { line-height: 130%; font-size: 14px;}

/*HEADER*/
header { margin: 20px auto; }

/*ABOUT*/
#about img { width: 200px; border: 2px solid black;	border-radius: 100%; margin-bottom: 10px; }
#about p { text-align: left; line-height: 150%; margin-bottom: 10px; }

/*EDUCATION*/

/*SKILLS*/
#skills h3 { margin-bottom: 10px; }
#skills ul { margin-bottom: 10px; }
#skills li { display: inline-block; border: 1px solid black; border-radius: 3px; margin-right: 5px; margin-bottom: 7px; padding: 5px; }

/*PROJECTS*/
.circle { border-radius: 100%; }

/*FOOTER*/
footer { border-top: 1px solid black; padding: 20px; text-align: center; margin-top: 30px;}
 