html, body {
  position: relative;
  height: 100%;
}

body {
  font-family: 'Lato';
  margin: 0 auto;
  text-align: center;
  width: 600px;
}

p {
  text-align: left;
}

.image-container {
  background: url('./../images/eugene.png');
  background-size: cover;
  width: 150px;
  height: 150px;
  border-radius: 50%;
}