html, body {
  position: relative;
  height: 100%;
}

body {
  font-family: 'Lato';
  margin: 0 auto;
  text-align: center;
  width: 600px;
}

header {
  background: url('./../images/feedbackfractal.png');
  background-size: cover;
  height: 100px;
  width: 100%;
  color: white;
}

h1 {
  font-size: 60px;
  font-weight: normal;
  letter-spacing: 7px;
}

h2 {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding-top: 10px;
  padding-bottom: 10px;
}

p {
  text-align: justify;
}

.project-description-intro {
    font-size: 20px;
    font-weight: 700;
}

.material-container {
  display: inline-block;
  padding-left: 12px;
  padding-right: 12px;
}
.material-image-container {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-size: cover;
  margin-bottom: 5px;
}

#raspberry-pi-image {
  background-image: url('./../images/raspberry_pi.jpg');
}

#projector-image {
  background-image: url('./../images/projector.png');
}

#webcam-image {
  background-image: url('./../images/webcam.jpg');
}

#kids-image {
  background-image: url('./../images/kids.jpg');
}

.material-label {
  font-weight: bold;
}

.image-container {
  background-size: cover;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: auto;
}

.image-eugene {
  background-image: url('./../images/eugene.png');
}

.image-xiaohan {
  background-image: url('./../images/xiaohan.jpg');
}

.contact-container {
  margin-bottom: 10px;
}

.vertalign {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}